<form action="level/result" method="POST">
    <label for="">Easy Peasy</label>
    <input type="checkbox" name="level" value="Easy Peasy"><br>
    <label for="">Amateur Chef</label>
    <input type="checkbox" name="level" value="Amateur Chef"><br>
    <label for="">UltraPro Chef</label>
    <input type="checkbox" name="level" value="UltraPro Chef"><br>
    <button>Find</button>
</form>