<ul class="nav justify-content-end nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/recipe/category/Italian">Italian Recipes</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="/recipe/category/Asian">Asian Recipes</a>
  </li>
  <li class="nav-item">
    <a class="nav-item nav-link" href="/recipe/create">Create your own!</a>
  </li>
</ul>