<nav class="navbar navbar-dark bg-dark">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes">Recipe list</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/level">Levels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/dish">Dish Type</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/recipes/create">Create</a>
        </li>
    </ul>
</nav>