<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/recipe/createdata" method="POST">

  <label for="title">title:</label>
  <input type="text"  id="title" name="title"><br><br>

  <label for="lname">level:</label>
  <input type="text"  name="level"><br><br>

  <label for="lname">ingredient:</label>
  <input type="text"  name="ingredient"><br><br>

  <label for="lname">cuisine</label>
  <input type="text"  name="cuisine"><br><br>

  <label for="lname">dishtype</label>
  <input type="text"  name="dishtype"><br><br>

  <label for="lname">image</label>
  <input type="text"  name="image"><br><br>
  
  <label for="lname">duration</label>
  <input type="text"  name="lname"><br><br>

  <label for="lname">creator</label>
  <input type="text"  name="lname"><br><br>

  <button type="submit">Create</button>

</form>
</body>
</html>


