<form action="/recipes/create/{{recipesHbs._id}}" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="cuisine" placeholder="cuisine">
    <input type="text" name="creator" placeholder="creator">
    <input type="text" name="duration" placeholder="duration">
    <button type="submit">Create Recipe</button>
</form>