<form action="/recipes/create" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="level" placeholder="level">
    <input type="text" name="ingredients" placeholder="ingredients">
    <input type="text" name="cuisine" placeholder="cuisine">
    <input type="text" name="dishType" placeholder="dish type">
    <input type="text" name="duration" placeholder="duration">
    <input type="text" name="creater" placeholder="chef">
    <button type="submit">Create </button>
</form>