<div class="container-fluid recipe-img-bg">
    <div class="row py-5">
        <div class="col-6">
            <h1 class="title">Food, glorious food...</h1>
            <p class="intro-text">
                The way to a man’s heart is through his stomach…An army marches on its stomach….and there are so many
                other cliches that all centre around one of life’s necessities – Eating.
            </p>
            <p class="intro-text">
                Here is a collection of Indian food recipes which would bring out the food diversity spread across the
                entire country.
            </p>
            <p class="intro-text">Go to <a href="/recipes">All recipes</a> to explore all recipes.</p>
        </div>
    </div>
</div>