<main role="main">
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Welcome to recipes blog</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aperiam repellendus minus beatae? A error eveniet necessitatibus eum soluta expedita aperiam dolorum nihil consequatur magni quam, omnis temporibus, placeat voluptates.</p>
          </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Food, glorious food...</h1>
                    <p>
                        The way to a man’s heart is through his stomach…An army marches on its stomach….and there are so many other cliches that all centre around one of life’s necessities – Eating.
                    </p>
                    <p>
                        Here is a collection of Indian food recipes which would bring out the food diversity spread across the entire country.
                    </p>
                    <p>Go to <a href="/recipes">All recipes</a> to explore all recipes.</p>
                </div>
            </div>
        </div>

</main>