<h1>Welcome</h1>

<p>Here you can find and create amazing recipes. Have fun!</p>

<a href="/recipes">Recipe list</a><br>

<a href="/recipes/level">Find your recipe by level of difficulty</a><br>

<a href="/recipes/dish">Find your recipe by dish type</a><br>

<a href="/recipes/create">Create a new recipe</a><br>