<div>
    <button>
        <a href="/signup">Sign up</a>
    </button>
    <br>
    <br>
    <button>
        <a href="/login">Login</a>
    </button>
    <br>
    <br>
    <button>
        <a href="/recipes">Click for our recipe collection</a>
    </button>
</div>