<div class='main'>
  <h1>Welcome to my Cookbook</h1>

  <div>
    <a href="/recipes" class="btn btn-warning">Clicke here to see all recipes!</a>
  </div>

  <div>
    <a href="/recipes/create" class="btn btn-warning">Clicke here to create a new recipe!</a>
  </div>


</div>