<h2>RECIPES</h2>
<img src="https://pittsburgh.cbslocal.com/wp-content/uploads/sites/15909642/2015/11/recipes-1024x576.jpg?w=1024&h=576&crop=1" alt="" style="width:300px"><br><br>
<a href="/recipes">See list of all recipes!</a></br>

