<form action="/recipes" method='POST'>
    <input type="text" name="title" placeholder="title">
    <input type="text" name="cuisine" placeholder="cuisine">
    <input type="text" name="creator" placeholder="creator">
    <input type="text" name="duration" placeholder="duration">
    <button type="submit">Add Recipe</button>
</form>


<hr>
<hr>
{{#each recipes}}
    <div class="recipe">
        <h3>{{title}}</h3>
        <a href="/recipe-info/{{_id}}">Details</a>
        <a href="/delete-recipe/{{_id}}">Delete this recipe</a>
    </div>
{{/each}}