{{!-- <form action="">
<input type="text" name="title" value="">
<input type="text" name="cuisine" value="">
<input type="text" name="dish_type" value="">
<input type="text" name="duration" value="">
<button type ="submit">Edit</button> --}}
<h1>hello</h1>


{{!-- </form> --}}