<div>New Recipe</div>
<div>
<form method="post" action="/recipes/save">
<label for="name">TITLE</label>
<input type="text" name="title" />

<label for="name">LEVEL</label>
<input type="text" name="level" />

<label for="name">INGREDIENTS</label>
<input type="text" name="ingredients" />

<label for="name">COUSINE</label>
<input type="text" name="cousine" />

<label for="name">DISHTYPE</label>
<input type="text" name="dishType" />

<label for="name">IMAGE</label>
<input type="text" name="image" />

<label for="name">DURATION</label>
<input type="text" name="duration" />

<label for="name">CREATOR</label>
<input type="text" name="creator" />

<label for="name">CREATED</label>
<input type="date" name="created" />

<input type="submit" value="Add Recipe" />
</form>
</div>