
@import "./nav.css";
@import "./list.css";
@import "./detail.css";
@import "./update.css";
@import "./create.css";

body {
    margin: 0px;
    padding: 0px;
    background-color: bisque;

}

header {
    position: relative;
}



