<form action="/recipes/create" method="POST">
    <label for="title">title:</label>
    <input type="text" name="title">

    <label for="cuisine">cuisine:</label>
    <input type="text" name="cuisine">

    <label for="image">image:</label>
    <input type="text" name="image">

    <label for="level">level:</label>
    <input type="text" name="level">

    <label for="dishType">dishType:</label>
    <input type="text" name="dishType">

    <label for="duration">duration:</label>
    <input type="text" name="duration">

    <label for="creator">creator:</label>
    <input type="text" name="creator">

    <button type="submit">Add</button>
</form>