<form action="/recipes/create" method="POST">

  <input type="text" name="title" placeholder="Title">
  <input type="text" name="cuisine" placeholder="Cuisine">
  <input type="text" name="creator" placeholder="Creator">
  <input type="text" name="duration" placeholder="Duration">
  <button type="submit">Create Recipe</button>

</form>
