<h2>Create a Recipe!</h2>
<form action="/recipes/create" method="POST">
<input type="text" placeholder="Title" name="title">
<input type="text" placeholder="Difficulty level" name="level">
<input type="text" placeholder="Ingredient" name="ingredients">
<input type="text" placeholder="Cuisine" name="cuisine">
<input type="text" placeholder="Dish type" name="dishType">
<input type="text" placeholder="Image URL" name="image">
<input type="text" placeholder="Duration" name="duration">
<input type="text" placeholder="Created by:" name="creator">
<input type="submit">
</form>