<section class="create">
    <form action="/recipes/create" method="post" id="create-recipe">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="give it a title">
        <label for="cuisine">Cuisine</label>
        <input type="text" name="cuisine" placeholder="specify the origins">
        <label for="duration">Duration</label>
        <input type="number" name="duration" placeholder="duration (minutes)"><br>
        <label for="image">Image URL</label>
        <input type="text" name="imageUrl" placeholder="Image URL" size="90"><br>
        <label for="level">Choose a Level</label>
        <select name="level" id="level" form="create-recipe">
            <option value="Easy Peasy">Easy Peasy</option>
            <option value="Amateur Chef">Amateur Chef</option>
            <option value="UltraPro Chef">UltraPro Chef</option>
        </select>
        <label for="dishType">Dish Type</label>
        <select name="dishType" id="dishType" form="create-recipe">
            <option value="Breakfast">Breakfast</option>
            <option value="Dish">Dish</option>
            <option value="Snack">Snack</option>
            <option value="Drink">Drink</option>
            <option value="Dessert">Dessert</option>
            <option value="Other">Other</option>
        </select>
        <label for="creator">Creator</label>
        <input type="text" name="creator" placeholder="creator's name"><br>
        <button type="submit" formmethod="POST">Create Recipe</button>
    </form>
</section>




