<form action="dish/result" method="POST">
    <label for="">Breakfast</label>
    <input type="checkbox" name="dishType" value="breakfast"><br>
    <label for="">Main Course</label>
    <input type="checkbox" name="dishType" value="main_course"><br>
    <label for="">Soup</label>
    <input type="checkbox" name="dishType" value="soup"><br>
    <label for="">Snack</label>
    <input type="checkbox" name="dishType" value="snack"><br>
    <label for="">Drink</label>
    <input type="checkbox" name="dishType" value="drink"><br>
    <label for="">Dessert</label>
    <input type="checkbox" name="dishType" value="dessert"><br>
    <label for="">Other</label>
    <input type="checkbox" name="dishType" value="other"><br>
    <button>Find</button>
</form>